Repository ericstefano/react-vite-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run

.lintstagedrc:

{
  "*.{js,ts,tsx,json,css,html,json}": ["prettier --write"],
  "*.{js,ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx}": ["vitest related --run"]
}

chore: update lintstaged config
  .lintstagedrc
Due: none

fix: run tsc with config in entire project before commit
  .husky/pre-commit
  .lintstagedrc
Due: none

feat: bump eslint and prettier config
  .eslintrc
  .prettierrc
  package.json
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.tsx
  yarn.lock
Due: prettier --write, eslint --fix, vitest related --run

chore: remove eslint-plugin-import
  .eslintrc
  package.json
  yarn.lock
Due: prettier --write

feat: adding unocss
  package.json
  src/App.tsx
  src/components/Button/Button.tsx
  src/main.tsx
  vite.config.ts
  yarn.lock
Due: prettier --write, eslint --fix, vitest related --run

feat: move unocss config to unocss.config.ts
  package.json
  src/components/Button/Button.tsx
  unocss.config.ts
  vite.config.ts
  yarn.lock
Due: prettier --write, eslint --fix, vitest related --run

chore: update dependencies
  package.json
Due: prettier --write

fix: adding unocss to storybook
  .storybook/main.js
  .storybook/preview.js
  yarn.lock
Due: prettier --write, eslint --fix

fix: storybook tailwind
  .storybook/main.js
  vite.config.ts
  yarn.lock
Due: prettier --write, eslint --fix, vitest related --run

fix: change vite.config.js to vite.config.ts
  .storybook/main.js
Due: prettier --write, eslint --fix

chore: bump eslint config
  .eslintrc
  .nvmrc
  .prettierrc
  package.json
  yarn.lock
Due: prettier --write

Merge remote-tracking branch 'origin/main' into tailwind
  .eslintrc
  .nvmrc
  .prettierrc
  package.json
  yarn.lock
Due: prettier --write

Merge remote-tracking branch 'origin/main' into unocss
  .eslintrc
  .nvmrc
  .prettierrc
  package.json
  yarn.lock
Due: prettier --write

feat: adding eslint-plugin-jest-dom
  .eslintrc
  package.json
  yarn.lock
Due: prettier --write

fix: eslint issues and simplify button
  src/components/Button/Button.spec.tsx
  src/components/Button/Button.tsx
  vite.config.ts
Due: prettier --write, eslint --fix, vitest related --run

chore: bump dependencies
  .storybook/main.js
  package.json
  pnpm-lock.yaml
  src/components/Button/Button.stories.tsx
  yarn.lock
Due: prettier --write, eslint --fix, vitest related --run

fix: remove unneeded storybook plugin
  .storybook/main.js
Due: prettier --write, eslint --fix

fix: pnpm types issues, bump packages
  .npmrc
  package.json
  pnpm-lock.yaml
  src/test/setup.ts
Due: prettier --write, eslint --fix, vitest related --run

feat: add transformer directives to unocss
  unocss.config.ts
Due: prettier --write, eslint --fix, vitest related --run

chore: remove pre-commit tsc
  .husky/pre-commit
Due: none

chore: remove ts-node
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add vitest ui and move config
  mocks/.gitkeep
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vite.config.ts
  vitest.config.ts
Due: prettier --write, eslint --fix, vitest related --run

feat: bump package versions
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: update storybook config
  .storybook/main.js
  .storybook/main.ts
  .storybook/preview.js
  .storybook/preview.ts
Due: prettier --write, eslint --fix, vitest related --run

feat: update commitlint config
  commitlint.config.js
  commitlint.config.ts
Due: prettier --write, eslint --fix, vitest related --run

chore: improve typescript eslint config
  .eslintrc
Due: none

fix: bad eslint config key
  .eslintrc
Due: none

fix: add commitlint.config.ts to eslintignore
  .eslintignore
Due: none

fix: no unused vars typescript issue
  .eslintrc
Due: none
